[project]
name = "winidjango"
version = "2.0.6"
description = "A utils package for django"
authors = [
    {name = "Winipedia",email = "win.steveker@gmx.de"},
]
license = "MIT"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django",
    "django-stubs-ext",
    "winiutils",
]

[project.scripts]
winidjango = "pyrig.dev.cli.cli:main"

[dependency-groups]
dev = [
    "bandit",
    "django-stubs",
    "mypy",
    "pre-commit",
    "pyinstaller",
    "pytest",
    "pytest-django",
    "pytest-mock",
    "ruff",
    "types-defusedxml",
    "types-networkx",
    "types-pyinstaller",
    "types-pyyaml",
    "types-setuptools",
    "types-tqdm",
]

[build-system]
requires = [
    "uv_build",
]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "winidjango"
module-root = ""

[tool.ruff]
exclude = [
    ".*",
    "**/migrations/*.py",
]

[tool.ruff.lint]
select = [
    "ALL",
]
ignore = [
    "D203",
    "D213",
    "COM812",
    "ANN401",
]
fixable = [
    "ALL",
]

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = [
    "S101",
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.mypy]
strict = true
warn_unreachable = true
show_error_codes = true
files = "."

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.bandit]
exclude_dirs = [
    "./experiment.py",
    ".*",
]

[tool.bandit.assert_used]
skips = [
    "*test_*.py",
]
